<div>
    <h1>MY PROFILE</h1>
</div>

<div class="flex">
    <div class="imgBorder">
        <img class="profilePic" src="{{profile.profilePic}}" alt="profile picture">

    </div>
    <div>
        <h2>{{profile.username}}</h2>
        <h3>{{profile.slogan}}</h3>
        <button class="pure-form pure-form-aligned"><a href="{{profile._id}}/edit">Edit Profile</a></button>
        <form action="/{{profile._id}}?_method=DELETE" method="POST" class="pure-form pure-form-aligned">
            <button class="btn" type="submit">Delete Profile</button>
        </form>

    </div>
</div>



<div class="flex">
    {{#each profile.characters}}
    <div>
        <h3>This is a character</h3>
        <button>View Stats</button>
    </div>
    {{/each}}
</div>